<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126046489971-e20htdoppeidtfm4jht5et7qk4r1di1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126046489971-e20htdoppeidtfm4jht5et7qk4r1di1v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>126046489971-th27vkq3eflvcai0nb96m4h1ovecibkv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIMg_cybPHmahaBw7QfHtPUgkWc8bMQvA</string>
	<key>GCM_SENDER_ID</key>
	<string>126046489971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-golf-club-b684e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-golf-club-b684e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126046489971:ios:790a2c95103145564f0906</string>
</dict>
</plist>